$fontColor:#777;
.index{
  color:$fontColor;
  .articles{
    margin: 150px 10% 2%;
    list-style: none;
    li{
      line-height: 42px;
      border: 1px solid;
      margin-bottom: -1px;
      padding-left: 1%;
      a{
        text-decoration: none;
        color:#428BCD;
      }
    }
    li:hover{
      background-color: #EEEEEE;
      text-decoration: underline;
    }
    li:first-child{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    li:last-child{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

}